.job {
  width: 120px;
  border: 1px solid blue;
  padding: 12px;
  cursor: pointer;
  margin-bottom: 12px;

  &:not(:last-child) {
    margin-right: 12px;
  }

  .meta {
    font: 14px/24px monospace;
    color: #49486b;
  }

  &.selected {
    background: blue;

    .meta {
      color: white;
    }
  }
}
