.layout {
  max-width: 962px;
  margin: 0 auto;
}

.footer {
  font-size: 14px;
  color: #777;

  max-width: 962px;
  margin: 12px auto;

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }
}
