.newJob {
  border: 1px solid blue;
  border-radius: 2px;
  padding: 12px;
  font: 14px/24px monospace;

  .row {
    display: flex;
    align-content: center;
    margin: 10px 0;

    .cell {
      width: 150px;
    }
  }

  .code {
    font: 14px/24px monospace;
    width: 780px;
    height: 240px;
    border: 1px solid blue;
    border-radius: 2px;
  }

  button,
  input {
    font: 14px/24px monospace;
    border: 1px solid blue;
    border-radius: 2px;

    &[type='submit'] {
      cursor: pointer;
    }
  }
}
