.queue {
  border: 1px solid blue;
  padding: 12px 0 0 12px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  .newJob {
    width: 120px;
    border: 1px solid blue;
    padding: 12px;
    cursor: pointer;
    font: 14px/24px monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #49486b;

    &.selected {
      background: blue;
      color: white;
    }
  }
}
